<footer>
    <div class="container">
        <div class="row visible animated fadeInDown">
            <div class="col-md-12 text-center">

                <img src="assets/images/{{ footerlogo }}" style="width:70%" alt="manlets">

                <hr>
                <br>
                <div class="col-md-4">
                    <span class="copyright">Copyright © Manlets2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">

                        <li><a href="" target="_blank"><i class="icon icon-twitter"></i></a>
                        </li>
                        <li><a href="" target="_blank"><i class="icon icon-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="index.php?option=com_users&amp;view=login&amp;Itemid=111">Admin</a>
                        </li>
                        <li><a target="_blank" href="http://www.propertylab.net">a propertyLab website</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</footer>