<app-slider></app-slider>
<app-latestproperties></app-latestproperties>
<section id="about" class="bg-darkest-gray">
    <div class="container" style="border-bottom:0px solid #ccc; ">

	    <div class="col-lg-12 text-center" style="border-top:0px solid #ccc; padding-top:10px; clear:both;">
			<h2 class="section-heading">About Us</h2>
	    </div>
	    <div class="col-lg-12">
	    	<p>Manlets is one of the leading letting agents in Manchester offering a wide range of high quality properties backed up by our comprehensive property management service.
</p><p>
Tenants: From affordable studios to luxury loft-style apartments and executive rentals, we have properties available throughout the City Centre, Salford Quays and surrounding areas. As premier letting agents in Manchester we have properties to suit a range of budgets and are confident we can find a property to match your requirements. Our in-depth knowledge of Manchester and surrounding areas means our letting agents can provide expert guidance and advice on location, amenities and the attractions close to all our properties. And for complete peace of mind for anyone looking for rental property in the Manchester, Manlets is a member of the UKALA (United Kingdom Association of Letting Agents) and uses the TDS (Tenancy Deposit Scheme) to securely hold tenant deposits.
</p><p>
Landlords: Whether you are new to the property rental marketplace, or an established landlord , Manlets offers a comprehensive property management service backed up with high levels of personal service. This is illustrated by the majority of our landlords and tenants coming from personal recommendations. We can genuinely take the hassle out of finding the best tenants for your rental property and help maximise your property’s potential.
</p><p>
We are one of the longest established property management companies in Manchester with the reputation and experience to find top quality tenants quickly and efficiently Additionally our many years of experience dealing with all sizes and types of rental property in Manchester means we also can advise on a wide range of options for increasing the potential in your rental property. Often very simple but effective solutions can see an increase in rental revenue.
</p><p>
Due to the exceptionally high tenant demand for quality rental properties in the area, our lettings agents in Manchester are always looking for studios, houses, apartments and executive living spaces within Manchester City Centre and surroundings. Call us or send us a message to discuss your property and requirements. You can then leave Manlets to take care of managing your property.
</p><p>
Click through the site or call us now for more information on lettings available within the City Centre, Salford Quays and the surrounding areas on 0161 238 8978.</p>			
	    </div>
    </div>
</section>